@model EfCore.Models.Student

<p>Student</p>
    <div class="" style="display: flex; gap: 10px">
        <p>FirstName :@Model.FirstName</p>
        <p>LastName :@Model.LastName</p>
        <p>Age: @Model.Age</p>
    </div>

<a href="/Student/Index">Home</a>